body {
	background-color: #333;
}

.svg_map {
	position: absolute;
	width: 100%;
	height: 95vh;
	z-index: 0;
}

path {
	fill: #555;
	cursor: pointer;
}

path:hover {
	fill: red;
}

.Europe_div {
	display: none;
	position: absolute;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 80vh;
	background-color: black;
	z-index: 1;
	opacity: 0;
	border-radius: 20px;
}

.Europe_div_pictures {
	text-align: center;
	display: flex;
	justify-content: space-around;
}

.Europe_picture {
    padding-top: 10%;
    padding-left: 1%;
	height: 400px;
	width : 30%;
	display: inline-block;
}

.Asie_div {
	display: none;
	position: absolute;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 80vh;
	background-color: black;
	z-index: 1;
	opacity: 0;
	border-radius: 20px;
}

.Oceanie_div {
	display: none;
	position: absolute;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 80vh;
	background-color: black;
	z-index: 1;
	opacity: 0;
	border-radius: 20px;
}

.Afrique_div {
	display: none;
	position: absolute;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 80vh;
	background-color: black;
	z-index: 1;
	opacity: 0;
	border-radius: 20px;
}

.Amerique_nord_div {
	display: none;
	position: absolute;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 80vh;
	background-color: black;
	z-index: 1;
	opacity: 0;
	border-radius: 20px;
}

.Amerique_sud_div {
	display: none;
	position: absolute;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: 80vh;
	background-color: black;
	z-index: 1;
	opacity: 0;
	border-radius: 20px;
}

.close {
    color: white;
    float: right;
    padding-top: 1%;
    padding-right: 2%;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}