/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/ZKwULyCG95tk6mOqHQfRBCEAvth_LlrfE80CYdSH47w.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url('../fonts/Li18TEFObx_yGdzKDoI_ciEAvth_LlrfE80CYdSH47w.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url('../fonts/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    font-family: 'Raleway', sans-serif;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.section.BgImg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.section .sectionContentFlex{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.section-content{
    margin: auto;
}

.section-content p {
    line-height: 1.364;
}

.section-content a {
    text-decoration: none;
}

.section .filter{
    width: 100%;
}

.section.graficity-head.BgImg {
    background-image: url('../../img/backgrounds/background1.jpg');
}

.section.graficity-head .filterTunnel {
    width: 100%;
    background: #000;
    opacity: 0.70;
}

.section.graficity-head .section-content {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    height: 100%;
}

.section .section-content .section-down {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    font-size: 32px;
}

.section .section-content .section-down a {
    color: rgba(255, 255, 255, 0.6);
    transition: .2s ease-in-out;
}

.section .section-content .section-down a:hover {
    color: rgba(255, 255, 255, 1);
}

.section.graficity-head .headerTextDiv {
  color: #fff;
  text-align: center;
  margin: auto;
}

.section.graficity-head .headerTextDiv .mainTitle {
  font-size: 145px;
  font-weight: bold;
}

.section.graficity-head .headerTextDiv .catchPhrase {
    font-size: 32px;
    letter-spacing: 20px;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: 300;
}

.filterSubscription {
  width: 100%;
  background-image: -webkit-linear-gradient(300deg, rgb(4,219,146) 0%, rgb(16,123,130) 35%, rgb(27,26,113) 100%);
  background-image: -o-linear-gradient(300deg, rgb(4,219,146) 0%, rgb(16,123,130) 35%, rgb(27,26,113) 100%);
  background-image: linear-gradient(30deg, rgb(4,219,146) 0%, rgb(16,123,130) 35%, rgb(27,26,113) 100%);
  opacity: 0.75;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.section.subscriptionSection.BgImg {
    background-image: url('../../img/backgrounds/background2.jpg');
}

.section-content.subscriptionContainer {
  background: rgba(1, 46, 62, 0.7);
  width: 80%;
  height: 500px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
}

.magazineCoverImgDiv {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magazineCoverImg {
  height: 100%;
}

/* Subscription section */
.section.subscriptionSection.BgImg {
    background-image: url('../../img/backgrounds/background2.jpg');
}

.section.subscriptionSection .section-content {
    background-color: rgba(1, 46, 62, 0.35);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    padding: 50px;
    width: 75%;
    height: 350px;
    color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section.subscriptionSection .section-content .magazineCoverImgDiv {
    width: 35%;
    height: 100%;
}

.magazineCoverImg {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
}

.section.subscriptionSection .section-content .magazineDescriptionDiv {
    width: 65%;
    height: 100%;
}

.section.subscriptionSection .section-content .magazineDescriptionTitle {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 20px;
}

.section.subscriptionSection .section-content .magazineDescriptionText {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 27px;
    line-height: 30px;
    opacity: 0.7;
}

.section.subscriptionSection .section-content .subscribeButton {
    padding: 15px 42px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 6px;
    background-image: linear-gradient(-30deg, #12a078 0%, #09a076 100%);
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}


/* Newsletter section */
.section.newsletterSection.BgImg {
    background-image: url('../../img/backgrounds/background3.jpg');
}

.section.newsletterSection .filter.filterNewsletter{
    background-image: linear-gradient(0deg, #10c403 0%, #045e1d 100%);
    opacity: 0.5;
}

.section.newsletterSection .newsletterContainer {
    background: #fff;
    background: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    padding: 60px 50px;
    width: 75%;
    height: 400px;
}

.section.newsletterSection .newsletterTitleDiv {
    margin-bottom: 40px;
}
    
.section.newsletterSection .newsletterTitleDiv .newsletterTitle {
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    color: #4dd143;
    text-transform: uppercase;
    margin-left: 15px;
    vertical-align: super;
}

.newsletterTitleDiv i {
    font-size: 44px;
    color: #4dd143;
    vertical-align: initial;
}

.section.newsletterSection .newsletterText {
    width: 100%;
    font-size: 22px;
    color: rgb(110, 110, 110);
    font-weight: 300;
}

.section.newsletterSection .newsletterForm form {
    font-size: 0;
}

.section.newsletterSection .newsletterForm .newsletterInput {
    font-size: 22px;
    color: rgba(110, 110, 110, 1);
    padding: 26px 21px;
    font-weight: 300;
    outline: none;
    border: 1px solid rgb(198, 198, 198);
    border-right: none;
    width: 60%;
}

.section.newsletterSection .newsletterForm .newsletterInput::placeholder {
    font-weight: 300;
    color: rgba(110, 110, 110, 0.6);
}

.section.newsletterSection .newsletterForm {
    margin-top: 80px;
}

.section.newsletterSection .newsletterForm .newsletterSubmit {
    padding: 28px 80px;
    font-size: 21px;
    border: none;
    outline: none;
    color: #fff;
    width: 250px;
    background-image: -webkit-linear-gradient(bottom left, rgb(76,209,67) 0%, rgb(71,166,78) 100%);
    background-image: -o-linear-gradient(bottom left, rgb(76,209,67) 0%, rgb(71,166,78) 100%);
    background-image: linear-gradient(to top right, rgb(76,209,67) 0%, rgb(71,166,78) 100%);
}

.separator {
  padding: 1.9px;
  background: #dddddd;
  width: 130px;
  margin: 0px auto;
  margin-top: 60px;
}

.section-content .socialNetworkDiv {
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.listItem {
  display: inline;
  height: 100%;
  margin-right: 15px;
}

.listItem a {
    color: #aaa;
    font-size: 36px;
    vertical-align: middle;
    display: inline-block;
    transition: .2s ease-in-out;
}

.listItem a:hover {
    color: #636363;
}