@media (max-width: 800px){   
    
    .section.graficity-head .headerTextDiv .mainTitle {
        font-size: 13vw;
        font-weight: bold;
    }
    
    .section.graficity-head .headerTextDiv .catchPhrase {
        font-size: 5vw;
        letter-spacing: 28px;
        text-transform: uppercase;
        margin-top: 40px;
        font-weight: 300;
        opacity: 0.6;
        max-width: 807px;
    }
    
    .mosaique1 {
        position: absolute;
        width: 50%;
        right: 0;
        margin-top: -77px;
    }
    
    .artExempleDiv {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
    
    .artExempleTitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 17vw;
        text-transform: uppercase;
        line-height: 102px;
        font-weight: 700;
        margin-bottom: 52px;
        position: relative;
        z-index: 5;
    }
    
    .section.worldMapSection {
        background-image: linear-gradient(0deg, #294248 0%, #335B78 100%);
        max-height: inherit;
        min-height: inherit;
        height: auto;
        padding: 50px 0px;
    }
    
    .filterTransitionMapExemples {
        position: absolute;
        background: #294248;
        left: 0;
        width: 100%;
        height: auto;
    }
    
    .barceloneExempleTextDiv {
        margin-top: 70px;
    }
    
    .barceloneExempleDescription {
        color: #5C5454;
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }
    
        .mosaique2 {
        position: absolute;
        width: 80%;
        left: 0;
        margin-top: 0px;
    }
    
    .streetArtExemples .section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    .saoPauloExempleTextDiv {
        align-items: flex-start;
        margin-top: 180px;
    }
    
    .saoPauloExemple .readMoreLink {
        margin-right: 0px;
        margin-bottom: 0px;
    }
    
    .saoPauloExempleTitle {
        text-align: right;
        color: #FD7044;
        margin-top: 140px;
    }
    
    .section.ForfaitsSection .singleForfaitDiv {
        padding: 25px;
        width: 100%;
        display: inline-block;
        background: #bbebf4;
        color: #797979;
        margin: 30px 20px;
        border-radius: 10px;
        box-sizing: border-box;
    }
    
    .section.ForfaitsSection .section-content {
        margin: 50px 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .section .sectionContentFlex {
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        position: relative;
        width: 100%;
        min-height: auto;
        justify-content: center;
        flex-direction: column;
    }
    
    .section .filter {
        display: none;
    }
    
    .section {
        width: 100%;
        min-height: 0;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
    }
    
    .newYorkExempleTextDiv {
        margin-top: 150px;
        margin-bottom: 100px;
    }
    
    .section.subscriptionSection .section-content {
        background-color: rgba(1, 46, 62, 0.35);
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
        padding: 50px;
        width: 100%;
        min-height: 350px;
        height: auto;
        color: #ededed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }
    
    .magazineCoverImgDiv {
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 20px;
        margin: 50px 0px;
    }
    
    .magazineCoverImg {
        height: auto;
        width: 100%;
        padding: 0;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0);
        display: inline-block;
    }
    
    .section.subscriptionSection .section-content .magazineDescriptionDiv {
        width: 100%;
        height: auto;
        padding: 0 20px;
        margin: 50px 0px;
    }
    
    .section.newsletterSection .newsletterContainer {
        background: #fff;
        background: rgba(255, 255, 255, 0.85);
        border-radius: 10px;
        border-radius: 10px;
        text-align: center;
        display: flex;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        flex-direction: column;
        padding: 60px 50px 30px 50px;
        width: 100%;
        height: auto;
        padding: 0px;
    }
    
    .paddingNewsletter{
        padding: 50px 20px;
    }
    
    .section.newsletterSection .newsletterForm {
        margin-top: 80px;
        padding: 0px 30px;
    }
    
    .section.newsletterSection .newsletterTitleDiv {
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .section-content .socialNetworkDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .section.newsletterSection .newsletterForm .newsletterInput {
        font-size: 16px;
        color: rgba(110, 110, 110, 1);
        padding: 26px 21px;
        font-weight: 300;
        outline: none;
        border: 2px solid #FAA425;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 60%;
        height: 80px;
        vertical-align: top;
    }
    
    .section.newsletterSection .newsletterText {
        width: 80%;
        font-size: 20px;
        color: rgb(110, 110, 110);
        font-weight: 300;
        margin: auto;
    }
}
