/* Raleway */
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/ZKwULyCG95tk6mOqHQfRBCEAvth_LlrfE80CYdSH47w.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url('../fonts/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url('../fonts/Li18TEFObx_yGdzKDoI_ciEAvth_LlrfE80CYdSH47w.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: local('Raleway Medium'), local('Raleway-Medium'), url('../fonts/CcKI4k9un7TZVWzRVT-T8_k_vArhqVIZ0nv9q090hN8.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    font-family: 'Raleway', sans-serif;
}

.section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.section.BgImg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/*.section-fullwidth .section-content {
    width: 100%!important;
}*/

.section .sectionContentFlex{
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.section-content{
    margin: auto;
}

.section-content p {
    line-height: 1.364;
}

.section-content a {
    text-decoration: none;
}

.section .filter{
    width: 100%;
}

/*  graficity-head section  */
.section.graficity-head.BgImg {
    background-image: url('../../img/backgrounds/background1.jpg');
}

.section.graficity-head .filterTunnel {
    width: 100%;
    background: #000;
    opacity: 0.40;
}

.section.graficity-head .section-content {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    height: 100%;
}

.head {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 50;
  width: 80%;
  align-items: flex-start;
  }

#Calque_1 {
  padding-top: 10px;
  height: 80px;
  width: 80px;
}

.subscribeButtonHead {
    padding: 12px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 24px;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    text-decoration: none;
    color: #D8D8D8;
    font-size: 14px;
    font-weight: 300;
}

.subscribeButtonHead:hover {
  color: black;
  background: #fff;
  border-color: #fff;
  transition: ease 0.3s;
}

.graficityIcon {
  width: 60px;
}

.section .section-content .section-down {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    font-size: 42px;
}

.section .section-content .section-down a {
    color: rgba(255, 255, 255, 0.6);
    transition: .2s ease-in-out;
}

.section .section-content .section-down a:hover {
    color: rgba(255, 255, 255, 1);
}

.section.graficity-head .headerTextDiv {
  color: #fff;
  text-align: center;
  margin: auto;
}

.section.graficity-head .headerTextDiv .mainTitle {
  font-size: 145px;
  font-weight: bold;
}

.section.graficity-head .headerTextDiv .catchPhrase {
    font-size: 32px;
    letter-spacing: 28px;
    text-transform: uppercase;
    margin-top: 40px;
    font-weight: 300;
    opacity: 0.6;
}

/* Section map */
.section.worldMapSection {
	background-image: linear-gradient(0deg, #294248 0%, #335B78 100%);
}

.section.worldMapSection .worldMapImgDiv {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.section.worldMapSection .svg_map {
	max-width: 90%; 
    height: 500px;
	z-index: 0;
}

.section.worldMapSection path {
	fill: #fff;
	cursor: pointer;
    transition: .2s;
}

.section.worldMapSection path:hover {
	fill: #5698bb;
}

.section.worldMapSection .Europe_div,
.section.worldMapSection .Asie_div,
.section.worldMapSection .Oceanie_div,
.section.worldMapSection .Afrique_div,
.section.worldMapSection .Amerique_nord_div,
.section.worldMapSection .Amerique_sud_div {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    z-index: 1;
    opacity: 0;
    border-radius: 0;
}

.section.worldMapSection .Europe_div_pictures, 
.section.worldMapSection .Asie_div_pictures, 
.section.worldMapSection .Oceanie_div_pictures, 
.section.worldMapSection .Afrique_div_pictures, 
.section.worldMapSection .Amerique_nord_div_pictures, 
.section.worldMapSection .Amerique_sud_div_pictures {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    z-index: 1;
}

.container_europe_pic {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section.worldMapSection .Europe_picture,
.section.worldMapSection .Asie_picture,
.section.worldMapSection .Oceanie_picture,
.section.worldMapSection .Afrique_picture,
.section.worldMapSection .Amerique_nord_picture,
.section.worldMapSection .Amerique_sud_picture {
    padding: 0% 0% 0% 2%;
    width: 33%;
    height: auto;
    display: inline-block;
    margin: auto;
    transition: ease 1s;
}

.section.worldMapSection .Europe_picture {
  width: 100%;
}

.hoverDescription {
  /*background: #32556A;*/
  background: white;
  width: 333px;
  height: 417px;
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.descriptionFrancePic {
  color: black;
  font-size: 20px;
  font-weight: 700;
}

.hoverFranceDescription {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.container_france_pic:hover .Europe_picture {
  transform: scale(1.2);
}

.container_france_pic:hover .hoverDescription {
  transition: ease 1s;
  opacity: 0.6;
}

.section.worldMapSection .close {
    color: white;
    float: right;
    padding-top: 1%;
    padding-right: 2%;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}

.section.worldMapSection .mainTitle {
    text-align: center;
    font-size: 32px;
    margin-top: 30px;
    color: #fff;
}

/* Street Art Exemples */
i.icon {
    color: #5c5353;
    font-size: 60px;
    margin-right: 15px;
}


.streetArtExemples .section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 72%;
}

.mosaique1 {
  position: absolute;
  width: 50%;
  right: 0;
}

.mosaique2 {
  position: absolute;
  width: 50%;
  left: 0;
}

.mosaique3 {
  position: absolute;
  width: 50%;
  right: 0;
}

.artExempleDiv {
  display: flex;
  flex-direction: column;
}

.artExempleTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 124px;
  text-transform: uppercase;
  line-height: 102px;
  font-weight: 700;
  margin-bottom: 52px;
}

.artExempleText {
  font-size: 22px;
  font-weight: 300;
  text-align: left;
  line-height: 36px;
  margin-left: 3px;
}

.readMore {
  font-size: 36px;
  font-weight: bold;
  color: #5C5454;
}

.readMoreLink:hover .readMoreDiv i.icon {
  color: #2FBEDA;
  transition: ease 0.4s;
}

.readMoreLink:hover .readMoreDiv .readMore {
  color: #2FBEDA;
  transition: ease 0.4s;
}

.readMoreDiv {
  display: flex;
  width: 250px;
  margin-top: 16px;
  margin-left: 4px;
}

.readMoreLink {
  text-decoration: none;
  width: 255px;
  margin-bottom: 30px;
}

.arrowSvg {
  margin-top: 9px;
}

/* Barcelone */
.filterTransitionMapExemples {
  position: absolute;
  background: #294248;
  left: 0;
  width: 100%;
  height: 206px;
}

.barceloneExempleTextDiv {
  margin-top: 220px;
}

.barceloneExempleTitle {
  text-align: left;
  color: #335B78;
    position: relative;
    z-index: 5;
}

.barceloneExempleDescription {
  color: #5C5454;
  float: left;
  width: 64%;
}

.barceloneExemple .readMoreLink {
  
}

/* Sao Paulo */
.saoPauloExempleTextDiv {
  align-items: flex-end;
  margin-top: 180px;
}

.saoPauloExempleTitle {
  text-align: right;
  color: #FD7044;
}

.saoPauloExempleDescription {
  color: #5C5454;
  text-align: left;
  float: right;
  width: 55%;
}

.saoPauloExemple .readMoreLink {
  margin-right: 250px;
  margin-bottom: 60px;
}

/* New-York */
.newYorkExempleTitle {
  text-align: left;
  color: #F8D20A;
}

.newYorkExempleDescription {
  color: #5C5454;
  text-align: left;
  float: left;
  width: 55%;
}

.newYorkExempleTextDiv {
  margin-top: 100px;
}

/* Subscription section */
.section.subscriptionSection.BgImg {
    background-image: url('../../img/backgrounds/background2.jpg');
}

.filterSubscription {
  width: 100%;
  background-image: -webkit-linear-gradient(-50deg, #335B78 0%, #FD7044 100%);
  background-image: -o-linear-gradient(-50deg, #335B78 0%, #FD7044 100%);
  background-image: linear-gradient(-50deg, #335B78 0%, #FD7044 100%);
  opacity: 0.65;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.section.subscriptionSection .section-content {
    background-color: rgba(16, 21, 26, 0.35);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    padding: 50px;
    width: 80%;
    height: 350px;
    color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magazineCoverImgDiv {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.magazineCoverImg {
  height: 100%;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
}

.section.subscriptionSection .section-content .magazineDescriptionDiv {
    width: 65%;
    height: 100%;
}

.section.subscriptionSection .section-content .magazineDescriptionTitle {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 40px;
    font-weight: 500;
}

.section.subscriptionSection .section-content .magazineDescriptionText {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 27px;
    height: auto;
}

/* Forfait section */
.section.ForfaitsSection .section-content {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 90%;
}
    
.section.ForfaitsSection .singleForfaitDiv {
    padding: 25px;
    width: 30%;
    display: inline-block;
    background: #bbebf4;
    color: #797979;
    margin: auto;
    border-radius: 10px;
    box-sizing: border-box;
    transition: .5s;
}

.section.ForfaitsSection .singleForfaitDiv:hover {
    transform: scale(1.02);
}

.section.ForfaitsSection .singleForfaitDiv .singleForfaitHeader h2 {
        font-size: 40px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 40px;
    line-height: 1.2em;
}

.section.ForfaitsSection .singleForfaitDiv .singleForfaitHeader h3 {
    font-size: 20px;
    font-weight: 500;
    color: #5f5959;
    margin-bottom: 10px;
}

.section.ForfaitsSection .singleForfaitDiv .singleForfaitHeader p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
}

.section.ForfaitsSection .singleForfaitDiv .singleForfaitHeader span a {
    color: #22bedc;
}

.section.ForfaitsSection .singleForfaitDiv .singleForfaitHeader span a:hover {
    color: #FD7044;
    transition: ease 0.2s;
}

.section.ForfaitsSection .singleForfaitDiv .singleForfaitPrice {
    margin-top: 30px;
}

.section.ForfaitsSection .singleForfaitDiv .singleForfaitPrice h3 {
    color: #fd7044;
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 15px;
}

.section.ForfaitsSection .singleForfaitDiv .singleForfaitPrice h3 small {
    font-size: 15px;
    font-weight: 300;
}

.section.ForfaitsSection .singleForfaitDiv .singleForfaitPrice span {
    font-weight: 300;
    color: #5f5959;
}

.section.ForfaitsSection .singleForfaitDiv .singleForfaitButton {
    background: -webkit-linear-gradient(300deg, #2ac5e2, #3bd1eb);
    background: -o-linear-gradient(300deg, #2ac5e2, #3bd1eb);
    background: linear-gradient(30deg, #2ac5e2, #3bd1eb);
    padding: 20px 0;
    display: inline-block;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    transition: .5s;
}

/* Newsletter section */
.section.newsletterSection.BgImg {
    background-image: url('../../img/backgrounds/background3.jpg');
}

.section.newsletterSection .filter.filterNewsletter{
    background-image: linear-gradient(0deg, #091923 0%, #091923 100%);
    opacity: 0.6;
}

.section.newsletterSection .newsletterContainer {
    background: #fff;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    padding: 60px 50px 30px 50px;
    width: 70%;
    height: auto;
}

.section.newsletterSection .newsletterTitleDiv {
    margin-bottom: 40px;
}
    
.section.newsletterSection .newsletterTitleDiv .newsletterTitle {
    font-size: 32px;
    font-weight: bold;
    display: inline-block;
    color: #FAA425;
    text-transform: uppercase;
    margin-left: 15px;
    vertical-align: super;
}

.newsletterTitleDiv i {
    font-size: 44px;
    color: #FAA425;
    vertical-align: initial;
}

.section.newsletterSection .newsletterText {
    width: 100%;
    font-size: 22px;
    color: rgb(110, 110, 110);
    font-weight: 300;
}

.section.newsletterSection .newsletterForm form {
    font-size: 0;
}

.section.newsletterSection .newsletterForm .newsletterInput {
    font-size: 22px;
    color: rgba(110, 110, 110, 1);
    padding: 26px 21px;
    font-weight: 300;
    outline: none;
    border: 2px solid #FAA425;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 60%;
    height: 80px;
}

.section.newsletterSection .newsletterForm .newsletterInput::placeholder {
    font-weight: 300;
    color: rgba(110, 110, 110, 0.6);
}

.section.newsletterSection .newsletterForm {
    margin-top: 80px;
}

.section.newsletterSection .newsletterForm .newsletterSubmit {
    padding: 28px 0;
    font-size: 21px;
    border: none;
    outline: none;
    color: #fff;
    width: 250px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-image: linear-gradient(45deg, #FAA425 0%, #FC8736 50%, #FD7044 100%);
    max-width: 40%;
    cursor: pointer;
}

.separator {
  padding: 1.9px;
  background: #AAAAAA;
  opacity: 0.9;
  width: 130px;
  margin: 0px auto;
  margin-top: 60px;
}

.section-content .socialNetworkDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.listItem {
  display: inline;
  height: 100%;
  margin-right: 15px;
}

.listItem a {
    color: #aaa;
    font-size: 36px;
    vertical-align: middle;
    display: inline-block;
    transition: .2s ease-in-out;
}

.listItem a:hover {
    color: #636363;
}
